
.package {
    display: block;
    border: 1px solid #c7c7c7;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    box-sizing: border-box;
    margin: 15px;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
}


    
