.footer_style {
    background-color: #060629;
    color: whitesmoke;
    padding: 15px;
    justify-content : space-evenly ;
    align-items: center; 
    display: flex;
}
.d-grid a{
    color: whitesmoke;
}